*{
    box-sizing: border-box;
    margin: 0%;
}
body{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%,rgba(0, 0, 0, 0.5)50%), url(Ab3w.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
   
    background-size: 1400px;
   
    
}
.nav .logo {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: bold;
   letter-spacing: 2px;
   border-left-style:  outset;
   border-top-style: outset;
}
menu{
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    align-items:flex-end;
}
menu ul{
    display: flex;
  
}
menu ul{
    display: flex;
    position: relative;
    left: 290px;
    gap: 16px;
}
menu ul li{
    display: flex;
    padding: 5px;
    list-style: none;
    text-decoration: none;
   
}
menu ul li a{
   color: violet;
   transition: 0.5s ease-in-out;
   
}
menu ul li a:hover{
    color: white;
   
    transition: 0.3s ease-in-out;
   
    
 }
 .navigation{
    display: flex;
    position: fixed;
    float: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bolder;
    top: 0px;
    
    
 }
 #hero{
    top: -5%;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30%;
    display: grid;
   
   position: fixed;
   width: 200px;
   
}
h1{
    color:rgb(36, 7, 7);
}

#hero p{
    color: rgb(160, 150, 150)
}
#sign-up{
    position: fixed;
    top: 75%;
    left: 5%;
    padding: 0;
    
}
button{
    background-color: rgb(119, 65, 65);
    border-radius: 6px;
    width: 150px;
    height: 40px;
    border-top: none;
    border-left: none;
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    columns: white;
    margin-left: 9%;
}
button:hover{
    background-color: rgb(122, 16, 16);
    border-radius: 6px;
    width: 150px;
    height: 40px;
    border-top: none;
    border-left: none;
    margin-top: 15px;;
    
color: rgb(128, 119, 0);
transition: 0.3s ease-in-out;
}
#form-header{
    display: flex;
    font: 1em sans-serif;
    padding: 5px opx;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: large;
    color: rgb(173, 173, 185);
}
#signup{
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60%;
    left: 85%;
    padding: 0;
    background-color: rgb(36, 29, 28);
   background-blend-mode: color-burn;
   border-radius: 10%;
   opacity: 70%;
   border-left: outset;
   border-bottom: outset;
   border-right: inset;
   transition: 0.1s ease-in-out;
    
}
#signup:hover{
    border-color: rgb(253, 103, 3);
    border-width: 10px  0px 10px 0px;
    border-color: rgb(253, 103, 3);
    transition: 0.3s ease-in-out;
    
}
#hero, #projects{
    position: relative;
    top: -30%;
    left: 50px;
    bottom: 100px;
}
#water-mark{
    position: fixed;
    top: 0px;
    left: 1050px;
    font-size: xx-large;
    opacity: 2%;
    font-weight: 900;
    
    width: 200px;
    bottom: 800px;;
    z-index: 1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}